<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" >
    </compilation>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        
        <behavior>
          <sqlWorkflowInstanceStore
          connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WFPersist;Trusted_Connection=yes"
          hostLockRenewalPeriod="00:00:30"
          runnableInstancesDetectionPeriod="00:02:00"
          instanceCompletionAction="DeleteAll"
          instanceLockedExceptionAction="AggressiveRetry"
          instanceEncodingOption="GZip"
            />
          <workflowIdle timeToPersist="00:00:05" timeToUnload="00:00:30"/>

            <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
