<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROWF40.CH13.AdventureWorksAccess.Properties.Settings.AdventureWorks2012ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=AdventureWorks2012;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>