<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
   <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
                    <etwTracking profileName="EndToEndMonitoring Tracking Profile" />
                    <sqlWorkflowInstanceStore connectionStringName="ApplicationServerWorkflowInstanceStoreConnectionString" hostLockRenewalPeriod="00:00:30" runnableInstancesDetectionPeriod="00:00:05" instanceEncodingOption="None" instanceCompletionAction="DeleteAll" instanceLockedExceptionAction="NoRetry" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
        <diagnostics etwProviderId="4678ca55-f9bd-4f5e-bb78-8da3ef40e6a8">
            <endToEndTracing propagateActivity="true" messageFlowTracing="true" />
        </diagnostics>
        <tracking>
            <profiles>
                <trackingProfile name="ClaimProfile">
                    <workflow>
                        <workflowInstanceQueries>
                            <workflowInstanceQuery />
                        </workflowInstanceQueries>
                        <activityStateQueries>
                            <activityStateQuery>
                                <states>
                                    <state name="Closed" />
                                </states>
                                <variables>
                                    <variable name="saveResponse" />
                                    <variable name="AppraisalEndpoint" />
                                </variables>
                            </activityStateQuery>
                        </activityStateQueries>
                    </workflow>
                </trackingProfile>
            </profiles>
        </tracking>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
    <microsoft.applicationServer>
        <monitoring>
            <default enabled="true" connectionStringName="ApplicationServerMonitoringConnectionString" monitoringLevel="EndToEndMonitoring" />
        </monitoring>
    </microsoft.applicationServer>
</configuration>
