<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJobApplication" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51027/wfJobApplicationService.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobApplication"
                contract="JobPostingService.IJobApplication" name="BasicHttpBinding_IJobApplication" />
        </client>
    </system.serviceModel>
</configuration>