<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />       
        
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Book" />
                <binding name="BasicHttpBinding_Book1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65448/BookInventoryParameter.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Book"
                contract="Book" name="BasicHttpBinding_Book" />
            <endpoint address="http://localhost:65448/BookInventoryParameter.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Book1"
                contract="Book" name="BasicHttpBinding_Book1" />
        </client>
    </system.serviceModel>
</configuration>
