<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <microsoft.applicationServer>
        <monitoring>
            <default enabled="true" connectionStringName="ApplicationServerMonitoringConnectionString" monitoringLevel="HealthMonitoring" />
        </monitoring>
    </microsoft.applicationServer>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <etwTracking profileName="HealthMonitoring Tracking Profile" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <diagnostics etwProviderId="6a525307-4675-4b80-9faa-a47fd20301b7">
            <endToEndTracing propagateActivity="false" messageFlowTracing="false" />
        </diagnostics>
    </system.serviceModel>
</configuration>
